.places{
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 64px auto 66px auto;
}

@media (min-width: 1024px){
    .places{
       padding: 0px  48px;
       margin-top: 92px;
    }
}
@media (min-width: 768px){
    .places{
       padding: 0px  24px;
       margin-top:88px;
    }
}