.lead__figure{
    margin: 0px;
}

@media (min-width: 1280px){
    .lead__figure{
        min-width: 984px;
    }
}
@media (min-width: 1024px){
    .lead__figure{
        max-width: 928px;
        margin: 0px auto;
    }
}
